*{
    font-family: 'Roboto', sans-serif;
}
.delani-logo{
    text-align: center;
    padding-top: 100px;
}
.welcome-section{
    background-image: url("assets/backgrounds/h_img.jpg");
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    
}
.portfolio-section_part{
    padding: 10px;
}
.jumbotron-text-center{
    text-align: center; 
    padding-top: 30px; 
    color: white;
    font-weight: 800;
    font-display: bold;
}

.mouse-icon{
    text-align: center;
    margin-top: 50px;
}
.about-us{
    text-align: center;
}
.service-section{
    text-align: center;
    color: white;
    padding-top: 100px;
}

.service-section{
    background-image: url("assets/backgrounds/s_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
}
#design{
    display: none;
}
#dev{
    display: none;
}
#product{
    display: none;
}

#work8-img{
    height: 200px;
    position: relative;
    
}
#work8-text{
    display: none;
    width: 100%;
    height: 100%;
    background-color: blue;
    position: absolute;
    padding-top: 50%;
    top: 2%;
    left: 4px;
}
#work7-img{
    height: 200px;
    position: relative;
    
}
#work7-text{
    display: none;
    width: 100%;
    height: 100%;
    background-color: yellowgreen;
    position: absolute;
    padding-top: 50%;
    top: 2%;
    left: 4px;
}
#work6-img{
    height: 200px;
    position: relative;
    
}
#work6-text{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 196, 0);
    position: absolute;
    padding-top: 50%;
    top: 2%;
    left: 4px;
}
#work5-img{
    height: 200px;
    position: relative;
    
}
#work5-text{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(9, 255, 0);
    position: absolute;
    padding-top: 50%;
    top: 2%;
    left: 4px;
}
#work4-img{
    height: 200px;
    position: relative;
    
}
#work4-text{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 166, 0);
    position: absolute;
    padding-top: 50%;
    top: 2%;
    left: 4px;
}
#work3-img{
    height: 200px;
    position: relative;
    
}
#work3-text{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 183, 255);
    position: absolute;
    padding-top: 50%;
    top: 2%;
    left: 4px;
}
#work2-img{
    height: 200px;
    position: relative;
    
}
#work2-text{
    display: none;
    width: 100%;
    height: 100%;
    background-color: hsl(332, 100%, 50%);
    position: absolute;
    padding-top: 50%;
    top: 2%;
    left: 4px;
}
#work1-img{
    height: 200px;
    position: relative;
    
}
#work1-text{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #00ff80;
    position: absolute;
    padding-top: 50%;
    top: 2%;
    left: 4px;
}
#work4-txt{
    display: none;
}
#work3-text{
    display: none;
}
#work2-text{
    display: none;
}
#work1-txt{
    display: none;
}
#work5-text{
    display: none;
}
#work6-text{
    display: none;
}
#work7-text{
    display: none;
}
/* #work8-text{
    display: none;
} */

.name-mail{
    display:flex;
    align-items: center;
    justify-content: center;
}
#form{
    background-image: url("assets/backgrounds/c_image.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 5%;
}
#form input{
background: transparent;
}
#form textarea{
    background: transparent;
}
::placeholder{
    color: white;
    font-weight: 500;
}
#form .text-center{
    color: white;
    font-weight: 600;
}

.social-icon_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 2%;
}
.footer{
    text-align: center;
    padding-top: 1%;
    
}
@media screen and(max-width: 600px){
    .overlay{
        margin-left: 1px;
        margin-right: 1px;
    }
    
}
 @media screen and(max-width: 800px){
   .overlay{
      margin-left: 1px;
      margin-right: 1px;
   }
     
 }