*{
    font-family: 'Roboto', sans-serif;
}
.header-section{
    background-image: url(assets/backgrounds/h_img.jpg);
    background-size: 800px;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    
}
.welcome{
    text-align: center; 
    padding-top: 385px; 
    color: white;
}
.delani-logo{
    text-align: center;
    
    
}
.about-us{
    text-align: center;
}
.services{
    text-align: center;
    color: white;
}
.service-section{
    background-image: url(assets/backgrounds/s_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
}
.services-icons{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-top: 50px;
}
.service-job{
    text-align: center;
}
.portfolio-container{
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}
.portfolio-container h2{
    text-align: center;
}
.portfolio-1st-holder{
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    justify-content: space-evenly;
}
.portfolio-2nd-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}
.details{
    display:flex;
    align-items: center;
    justify-content: center;
    text-shadow: white;
}
#form{
    background-image: url("assets/backgrounds/c_image.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
}
#form h2{
text-align: center;
}
.social-icon_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}
.footer{
    text-align: center;
}
@media screen {
    
}