*{
    font-family: 'Roboto', sans-serif;
}
.header-section{
    background-image: url(assets/backgrounds/h_img.jpg);
    background-size: 800px;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    
}
.welcome{
    text-align: center; 
    padding-top: 385px; 
    color: white;
}
.delani-logo{
    text-align: center;
    
    
}
.about-us{
    text-align: center;
}
.services{
    text-align: center;
    color: white;
}
.service-section{
    background-image: url(assets/backgrounds/s_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
}
.job-text{
    text-align: center;
    
}
.services-icons{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.portfolio-1st-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
}
.portfolio-2nd-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
}